body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    background-color: rgb(51, 52, 58);
    align-content: center;
}
label{
    color: white;
}
.container{
    position: relative;
    padding: 0%;
    align-content: center;
    margin-left: 45%;
    margin-top: 10%;
    color: black;
}

.container h1{
    color: white;
}
strong{
    color: #fff;
    size: 20cm;
}
a{
    color: white;
}
header{
    position: relative;
    top:0;
    left:0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
nav a{
    position: relative;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;

}
button a{
    color: #000;
    width: 100px;
    height: 100px;
}
button{
    color: #000;
    width: 50px;
    height: 50px;
    
}